*,::before,::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
body {
      background: #333;
}
.box {
      width: 300px;
      height: 300px;
      margin: 20px;
      background: salmon;
      /* animation-name: spin; */
      /* animation-duration: 10s; */
      /* animation-iteration-count: 2; */
      /* animation-fill-mode: forwards; */
      /* animation-direction: alternate; */
      /* animation-timing-function: ease-in; */
      animation: spin 20s ease-in forwards;
}
@keyframes spin {
      0%{
            transform: rotate(0deg);
      }
      50%{
            background: lightblue;
      }
      100%{
            transform: rotate(720deg);
            background: green;
      }
      
}