*,::before,::after {
      box-sizing: border-box;
      padding: 0%;
      margin: 0%;
}
body {
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      padding: 30px;
}
.container {
      height: 95vh;
      background-image:
      linear-gradient(to right bottom, rgba(222,98,98,0.562),rgba(255,184,170,0.253)),
      url("https://images.unsplash.com/photo-1668106601849-e21e72c2c563?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
      background-size: cover; /*Pour que ça couvre tout l'espace*/
      background-position: center;
      clip-path: polygon(0 15%, 100% 0, 100% 85%,0 100%);
}
h1 {
      font-size: 40px;
      text-align: center;
      padding-top: 150px;
}