*, ::before, ::after{
      box-sizing: border-box; /*définit la manière dont la largeur et la hauteur sont calculées*/
      margin: 0;
      padding: 0; /*Par défaut padding est vert sur la console*/
}
body {
      background: #2a2a2a;
      font-family: Arial, Helvetica, sans-serif;
}
nav {
      height: 70px;
      width: calc(100% - 20px);
      background: #f1f1f1;
}
ul {
      width: 100%;
      text-align: center; /*permet de le centrer et ces enfants*/
}
nav ul li {
      display: inline-block; /* mettre les listes en bloc de ligne*/
      line-height:70px; /*En haut et en bas centrer*/
      margin: 0 10px;
}
nav ul li a {
      text-decoration: none;
      color: #333;
      font-size: 19px; /*De base la valeur est 16px*/
}
h1 {
      color:#f1f1f1;
      text-align: center;
      font-size: calc(40px + 2vw); /*Calcule la dimension à appliquer*/
}