*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1  {
    font-size: 28px;
    color: crimson;
    text-align: center;
}

@media screen and (min-width:500px) {
    h1 {
        font-size: 35px; 
    }

}
@media screen and (min-width:700px) {
    h1 {
        font-size: 50px; 
    }

}